.navbar {
  display: flex;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.navbarLeft {
  flex-grow: 1;
  height: 100%;
  color: black;
}

.navbarRight {
  flex-grow: 2;
  gap: 2rem;
  height: 100%;
  color: black;
  font-size: x-large;
  margin-right: 2rem;
  cursor: pointer;
}

.menuItemsBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  cursor: pointer;
  font-size: x-large;
  width: 9rem;
  border-radius: 10px;
  color: white;
  background-color: #201f1f;
}

.menuItemsBackground:hover {
  background-color: #381f1f;
}

.joinButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #381f1f;
  width: 9rem;
  color: white;
  height: 3.2rem;
  border-radius: 10px;
  border: none;
}

.joinButton:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: rgb(0, 0, 3);
  background: linear-gradient(
    100deg,
    rgba(0, 0, 3, 1) 0%,
    rgba(133, 10, 21, 1) 35%
  );
}

.logo {
  margin-right: 2rem;
  color: white;
  font-size: xx-large;
  letter-spacing: 0.4rem;
  cursor: pointer;
}
.logoImage {
  mix-blend-mode: multiply;
  width: 50px;
  height: 50px;
}

.mdIcons {
  margin-top: 1rem;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid grey;
}

.mdIcons:hover {
  border: 3px solid rgb(49, 48, 48);
}

.menuItemsDisplay {
  display: none;
}

@media screen and (max-width: 1100px) {
  .navbar {
    display: flex;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 0.7rem;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    transition: height 0.25s ease-in-out;
  }

  .navbarLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menuItems {
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    font-size: x-large;
    margin-right: 2rem;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19);
    cursor: pointer;
    z-index: 3;
  }
  .logoImage {
    margin-right: 5rem;
  }
  .navbarRight {
    margin-right: 2rem;
  }
}
