.skillsContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
}

.button {
  margin: 0 0.5rem;
  border: none;
  background-color: #381f1f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 2rem;
  border-radius: 50%;
}
.button:hover {
  background-color: #261d1d;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 200ms ease-in-out;
}

.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12rem;
  width: 100%;
  max-height: auto;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1rem;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slider::-webkit-scrollbar {
  display: none;
}
.slider img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
.slide {
  position: relative;
}
.slide img {
  height: 50%;
  width: 10rem;
  margin: 0 10px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.slide img.zoomed {
  width: 500px;
  height: 600px;
  position: fixed;
  left: 25%;
  top: 0%;
  z-index: -1;
  transform: scale(1) translatey(0) !important;
}

.mdArrowBack {
  margin-top: 0.3rem;
}
.mdArrowForward {
  margin-top: 0.3rem;
}
