.home-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  /* background-image: url("https://unblast.com/wp-content/uploads/2022/08/Programmer-Illustration.jpg"); */
  /* background-image: url("https://edgy.app/wp-content/uploads/2018/09/programming-day-FI.jpg"); */
  background-image: url("https://devtorium.com/wp-content/uploads/2021/04/blog-image-Software_developer_vs_software_engineer.svg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Adjust the overlay color and opacity as desired */
}
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  /* background-color: rgba(0, 0, 0, 0.5); */

  /* border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin-left: 5rem;
}

.left-section h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 10px;
  color: black;
}

.left-section p {
  font-size: 1.2rem;
  color: black;
  font-weight: bolder;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .home-container {
    margin-top: 2rem;
    justify-content: center;
  }
  .left-section h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: white;
  }
  .left-section p {
    font-size: 0.9rem;
    color: white;
  }
  .left-section {
    width: 80%;
    margin-left: 0;
    padding: 20px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.6
    ); /* Adjust the overlay color and opacity as desired */
  }
}
.slide-in-left {
  animation: slide-in-left 1s ease-out 0.5s 1 normal both;
}

/* .slide-in-right {
  animation: slide-in-right 1s ease-out 0.5s 1 normal both;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
} */
@keyframes continuous-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

.continuous-animation {
  animation: continuous-animation 5s ease-in-out infinite;
}
