.card-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 23.8rem;
  padding: 1rem;
  background-color: #fff;
  /* border-radius: 10px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(31 41 55);
}

.description {
  line-height: 1.5rem !important;
  font-size: 0.7rem;
  font-style: italic;
  color: rgb(75 85 99);
}

/* Responsive Styles */

@media (max-width: 768px) {
  .card-container {
    justify-content: center;
  }
  .title {
    font-size: 1rem;
  }
  .description {
    line-height: 1.2rem !important;
    font-size: 0.4rem;
  }
}
