.project-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.841rem;
}

.project-details {
  padding: 30px;
}

.project-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.project-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #3b3b3b;
  text-decoration: none;
  transition: 0.3s;
}

.project-details h4 a:hover {
  color: black;
}

.project-details p {
  height: 12rem;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
  text-align: justify;
  overflow-y: scroll;
}
.project-details p::-webkit-scrollbar {
  display: none;
}
.project-card {
  width: 23.75rem;
  position: relative;
  box-shadow: 0 0.125rem 0.4375rem #dfdfdf;
  margin: 3.125rem auto;
  background: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.project-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18.75rem;
  background: #f0f0f0;
}

.project-tumb img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-details p {
  font-size: 0.99rem;
  line-height: 1.375rem;
  margin-bottom: 1.125rem;
  color: #646262;
}

.project-bottom-details {
  overflow: hidden;
  border-top: 0.0625rem solid #eee;
  padding-top: 1.25rem;
}

.project-links {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.project-bottom-details div {
  float: left;
  width: 100%;
}

.project-links a {
  transition: 0.3s;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #5f5d5d;
  font-weight: 600;
  gap: 0.3rem;
}

.project-links a:hover {
  color: black;
  text-decoration: underline;
}

.project-links svg {
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
  }
}
